{
    "presets": [
        [
            "es2015",
            {
                "module": false
            }
        ],
        "react",
        "stage-3"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}